altgraph==0.17.4
annotated-types==0.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.7
loguru==0.7.2
packaging==24.1
pefile==2023.2.7
pydantic==2.8.2
pydantic_core==2.20.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==73.0.1
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
win32-setctime==1.1.0
